
.page-item.active .page-link{
    background: #333 !important;
    border-color: #333 !important;
}
.form-control{
    font-size: 15px !important;
}
.page-link{
    color: #333 !important;
}
.page-item.active .page-link{
    color: #fff !important;
}

.cards {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cards-single {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 15px;
}

.cards-single a{
    display: block;
    color: rgb(87, 87, 87);
    font-size: 2.3rem;
    font-weight: 700;
}

.cards-single a:hover{
    color: #f4845f;
}

.cards-single a+span {
    color: rgb(87, 87, 87);
}

.cards-single div:last-child span {
    font-size: 6rem;
    color: #f4845f;
}

.cards-single div:first-child span {
    color: #424242;
}

.cards-single:last-child {
    background-color: #f4845f;
}

.cards-single:last-child a,
.cards-single:last-child div:first-child span,
.cards-single:last-child div:last-child span {
    color: #fff;
}

.editbtn:hover,
.deletebtn:hover{
    background: #333 !important;
}

.studentdeletebtn{
    background-color: #d00000 !important;
    color: #fff !important;
    padding: 10px 20px 10px 20px !important;
    border-style:none !important;
    border-radius: 20px !important;
}

.mdladdbtn,
.editbtn,
.studenteditbtn,
.admstudenteditbtn,
.unvstudenteditbtn,
.btnblue{
    background: #0096c7 !important;
    color: #fff !important; 
    padding: 10px 30px 10px 30px !important; 
    border-style:none !important; 
    border-radius: 20px !important;
}

.mdladdbtn:hover,
.addstudentbtn:hover,
.studentdeletebtn:hover,
.studenteditbtn:hover,
.admstudenteditbtn:hover,
.unvstudenteditbtn:hover,
.btnblue:hover,
.btnred:hover,
.btngreen:hover{
    background: #333 !important;
    color: #fff !important; 
}

.yesbtn{
    background: #d00000 !important;
    color: #fff !important; 
    padding: 10px 40px 10px 40px !important; 
    border-style:none !important; 
    border-radius: 20px !important;
}

.addstudentbtn{
    background: #f4845f !important;
    color: #fff !important; 
    margin-top: 10px !important;
    padding: 10px 40px 10px 40px !important; 
    border-style:none !important; 
    border-radius: 20px !important;
}

.yesbtn:hover{
    background: #333 !important;
}
.seemorebtn,
.btngreen{
    background: #38b000 !important;
    color: #fff !important;
    padding: 10px 10px 10px 10px !important;
    border-style:none !important;
    border-radius: 20px !important;
}

.deletebtn,
.btnred{
    background-color: #d00000 !important;
    color: #fff !important;
    padding: 10px 20px 10px 20px !important;
    border-style:none !important;
    border-radius: 20px !important;
}

.approvebtn,
.markasdonebtn{
    background: #0096c7 !important;
    color: #fff !important;
    padding: 10px 10px 10px 10px !important;
    border-style:none !important;
    border-radius: 20px !important;
}

.markasdonebtn:hover{
    background: #333 !important;
}

.approvebtn:hover,
.seemorebtn:hover{
    background-color: #333 !important; 
    color: #fff !important; 
    border-style:none !important; 
    border-radius: 20px !important;
}

.mdlapprovebtn{
    background: #0096c7 !important;
    color: #fff !important; 
    padding: 10px 30px 10px 30px !important; 
    border-style:none !important; 
    border-radius: 20px !important;
}

.mdlapprovebtn:hover{
    background-color: #333 !important; 
    color: #fff !important; 
    padding: 10px 30px 10px 30px !important; 
    border-style:none !important; 
    border-radius: 20px !important;
}

.mdlclosebtn:hover{
    background-color: #333 !important; 
    color: #fff !important; 
    padding: 10px 40px 10px 40px !important; 
    border-style:none !important; 
    border-radius: 20px !important;
}

.mdlclosebtn,
.btnorange{
    background-color: #f4845f !important; 
    color: #fff !important; 
    padding: 10px 40px 10px 40px !important; 
    border-style:none !important; 
    border-radius: 20px !important;
}

.seemore,
.approve{
    background-color: #fff !important;
    padding: 1rem !important;
    border-radius: 20px !important;
    border-style: none !important;
}

.line{
    color: #e65c00 !important;
    padding: 2px;
}
.aboutlbl{
    color:  #333;
    font-size: 20px;
    padding: 10px;
}

.aboutdesc{
    background-color: #ffc299;
    border-radius: 20px;
    padding: 20px;
    border-color: #ffc299;
    font-size: 17px;
    width: 60%;
}

.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #ffc299;
    border-radius: 20px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 47px;
    color: #333;
    font-size: 40px;
}

.gotopbtn:hover{
    color: #e65c00;
}

@media only screen and (max-width: 1170px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .aboutdesc{
        width: 100%;
    }
}

@media only screen and (max-width: 560px) {
    .cards {
        grid-template-columns: 100%;
    }

    .aboutdesc{
        width: 100%;
    }

    .main-content h3 {
        font-size: 1.2rem;
    }

    .user-wrapper {
        display: none;
    }

    .sidebar .user-wrapper2 {
        display: inline !important;
    }
}